* {
  box-sizing: border-box;
}

body {
  background-color: #87b5b5;
  padding: 0px;
  margin: 0px;
}

div.App {
  display: flex;
	gap: 1vw;
	margin: 0;
	padding: 0;
	height: 100svh;
	width: 100%;
	justify-content: space-around;
}

.left, .right {

}

div.title {
	padding: 0;
	margin-top: 1%;
	margin-bottom: 1%;
}

textarea#editor {
  width: 47vw;
	overflow: auto;
	resize: horizontal;
	box-shadow: 5px 5px 10px #4a4a4a;
	height: 91%;
	overflow: auto;
}

div#preview {
	height: 100%;
	background-color: white;
	border: 1px solid black;
	overflow: auto;
	box-shadow: 5px 5px 10px #4a4a4a;
	height: 91%;
	width: 100%;

}

#preview :is(h1, h2) {
	border-bottom: 2px solid #cccccc;
}

#preview :is(code, pre) {
	background-color: #f6f8fa;
}

#preview blockquote {
	border-left: 3px solid #d0d7de;
  color: #636c76;
  padding-left: 5px;
  margin-left: 25px;
}

#preview table {
	border-collapse: collapse;
}

#preview :is(th,td) {
  border: 2px solid #224b4b;
  padding-left: 5px;
  padding-right: 5px;
}

#preview img {
	max-width: 85%
}
